.card-with-border {
    border: 2px solid burlywood;
    border-radius: 10px;
}

.card {
    background-color: grey;
    color: white;
}

.card:hover {
    opacity: 1;
}

.card-wrapper {
    // use css grid
    display: grid;
    // The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space. 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // minmax(): we need to start by specifying a minimum width for the columns, making sure they don’t get too narrow especially on small viewports
    // gap with the cards
    grid-gap: 10px;
    // grid-auto-rows: minmax(100px, auto);
  }

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0; // tl, tr, br, bl
}  

.card-figure {
    margin: 0;
    border-radius: 10px 10px 0 0; // tl, tr, br, bl
}